In [2]:
import numpy as np
import pandas as pd
import cv2

In [3]:
train = pd.read_csv("train.csv")
train

       emotion                                             pixels
0            0  70 80 82 72 58 58 60 63 54 58 60 48 89 115 121...
1            0  151 150 147 155 148 133 111 140 170 174 182 15...
2            2  231 212 156 164 174 138 161 173 182 200 106 38...
3            4  24 32 36 30 32 23 19 20 30 41 21 22 32 34 21 1...
4            6  4 0 0 0 0 0 0 0 0 0 0 0 3 15 23 28 48 50 58 84...
...        ...                                                ...
28704        2  84 85 85 85 85 85 85 85 86 86 86 87 86 86 91 9...
28705        0  114 112 113 113 111 111 112 113 115 113 114 11...
28706        4  74 81 87 89 95 100 98 93 105 120 127 133 146 1...
28707        0  222 227 203 90 86 90 84 77 94 87 99 119 134 14...
28708        4  195 199 205 206 205 203 206 209 208 210 212 21...

[28709 rows x 2 columns]

In [4]:
train.emotion

0        0
1        0
2        2
3        4
4        6
        ..
28704    2
28705    0
28706    4
28707    0
28708    4
Name: emotion, Length: 28709, dtype: int64

In [12]:
print(len(train))
#print(train.emotion[28708])
#print(train.pixels[28708])
#for i in range(28709):
#    print(i)

28709

In [21]:
for i in range(len(train)):
    emotion = train.emotion[i]
    pixels = train.pixels[i]
    a = list(map(int, pixels.split(' ')))[:48 * 48]
    img = np.array(a).reshape((48, 48)).astype('uint8')
    cv2.imwrite(str(emotion)+'/'+str(i)+'.png', img)